@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #78a083;
  margin: 10px 50px;
  background-color: #35374b;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #35374b;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid;
  padding: 20px 10px 20px 15px;
}

nav {
  display: flex;
  font-size: 1.3em;
}

.nav-title a {
  font-family: "Archivo Black", sans-serif;
  text-decoration: none;
  color: #78a083;
  font-size: 1.3em;
}

.nav-title a:hover {
  cursor: default;
  color: #50727b;
}

.nav-items {
  display: flex;
  padding: 0px 20px 0px 20px;
  font-family: "Archivo Black", sans-serif;
  text-decoration: none;
  color: #78a083;
}

.nav-items:hover {
  color: #50727b;
}

.home {
  padding: 20px 10px 20px 15px;
}

.home h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 15px;
}

.home h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 30px;
}

.home span {
  font-size: 15px;
}

.work {
  margin: 500px 50px;
}

.work h1 {
  text-align: center;
}

.work h2 {
  text-align: center;
}

.contact {
  padding: 20px 10px 20px 15px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

.contact h1 {
  font-family: "Archivo Black", sans-serif;
  margin: 0px;
}

.fab {
  width: 30px;
  font-size: 25px;
  margin: 20px 0px 10px 0px;
  text-align: center;
  text-decoration: none;
  color: #78a083;
}

.fab:hover {
  color: #50727b;
}

.loader-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  z-index: -1;
}

.bouncing-dots {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #78a083;
  border-radius: 50%;
  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
  }

  .nav-title {
    flex: 1;
    text-align: center;
  }

  nav {
    display: none;
  }

  .home h1 {
    text-align: center;
    font-size: 1em;
  }

  .home h2 {
    text-align: center;
    font-size: 3em;
  }

  .home span {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
  }

  .work h1 {
    font-size: 1.5em;
  }

  .work h2 {
    font-size: 1em;
  }

  .contact {
    text-align: center;
  }

  .contact h1 {
    font-size: 2em;
  }

  .contact span {
    font-size: 0.98em;
  }

  .fab {
    width: 50px;
    font-size: 2em;
  }

  .loader-container {
    height: 10vh;
  }
}
