@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    color: #78A083;
    margin: 0px;
    background-color: #35374B;
}

.navigation {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    background-color: #35374B;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.nav-title {
    margin: 30px 50px;
}

.nav-title a {
    font-family: "Archivo Black", sans-serif;
    text-decoration: none;
    color: #78A083;
}

.nav-title a:hover {
    cursor: default;
}

.nav-title a:hover {
    color: #50727B;
}

.nav-items {
    display: flex;
    margin: 30px 50px;
}

.nav-items a {
    font-family: "Archivo Black", sans-serif;
    text-decoration: none;
    color: #78A083;
    margin: 10px;
}

.nav-items a:hover {
    color: #50727B;
}

.home {
    margin: 30px 50px;
}

.home h2 {
    font-family: "Archivo Black", sans-serif;
    font-size: 15px;
}

.home h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
}

.home span {
    font-size: 15px;
}

.contact-content {
    margin : 30px 50px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.contact-content h2 {
    font-family: "Archivo Black", sans-serif;
}

.fab {
    width: 30px;
    font-size: 25px;
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: #78A083;
}

.fab:hover {
    color: #50727B;
}